<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dokastho.io | {{logname}}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image" href="/static/img/favicon.png">
    </head>
    <body>
        <div id="reactEntry" class="site">
            <div className='account-view'>
                <h1>Change Password</h1>
                <form action="/accounts/?target=/" method="post">
                  <input type="hidden" name="operation" value="update_password" />
                  <input type="hidden" name="username" value="{{logname}}" />
                  <label htmlFor="oldpw">Old Password</label><br />
                  <input type="password" name="old" id="oldpw" /><br />
                  <label htmlFor="newpw">New Password</label><br />
                  <input type="password" name="pass1val" id="newpw" /><br />
                  <label htmlFor="renewpw">Retype New Password</label><br />
                  <input type="password" name="pass2val" id="renewpw" /><br />
                  <input type="submit" value="Reset Password" />
                </form>
              </div>
        </div>
    </body>
</html>
