/* basic styles */

body {
    background-color: white;
    font-family: 'Futura', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* custom classes */

/* main site */

.loaded {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.loading {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
    height: -webkit-fill-available;
}

.loading-page {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 8rem;
}

.site {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.top-space {
    height: 20vh;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

/* navbar */

.navbar-container {
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar {
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    z-index: 100;
}

.navbar-item {
    border-radius: 1.5rem;
    padding: 1rem;
}

.selected {
    background-color: lightgray;
}

/* containers */

.raw-html {
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
    border: 2px solid gray;
    border-radius: 5px;
}

/* tags */

.tag {
    border-radius: 0.25em;
    padding: 0.5em;
    width: fit-content;
}

/* inputs */

button.clicked {
    background-color: darkred;
    color: white;
    border: 0.2em solid darkred;
}
