/* basic styles */

body {
    background-color: white;
    font-family: 'Futura', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    border-radius: 8px;
}

/* custom classes */

/* main site */

.loaded {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.loading {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
    height: -webkit-fill-available;
}

.loading-invis {
    display: none;
    overflow: hidden;
}

.loading-page {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 8rem;
}

.site {
    width: 120vh;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.top-space {
    height: 9.05rem;
    ;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-panel {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    margin-top: 5vh;
    padding: 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transition {
    transition: all 0.2s ease-in-out;
}

.bare,
.bare:hover {
    text-decoration: none;
}

.raise:hover {
    transform: translateX(-0.5rem);
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.photo {
    object-fit: scale-down;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.login {
    width: fit-content;
}

.logout {
    padding-bottom: 2rem;
    width: fit-content;
}

/* navbar */

.navbar-container {
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.1rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
}

.navbar-item {
    border-radius: 1.5rem;
    padding: 1rem;
}

.selected {
    background-color: lightgray;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

/* containers */

.has-focus {
    background-color: aliceblue;
}

.tiptap {
    outline: none;
}

.css-editor,
.raw-html {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    margin: 1rem;
    border: 2px solid gray;
    border-radius: 5px;
    min-height: 300px;
    outline: none;
    color: black;
    background-color: white;
}

.extra-container-info {
    display: flex;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.container-flex {
    display: flex;
}

.container-content {
    padding-left: 2.5rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}

.container-colored-stripe {
    width: 0.5rem;
    /* background-color: green; */
}

.updator {
    width: fit-content;
    padding-bottom: 0.25rem;
    color: gray;
}

.create-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-menu-background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 100;
}

.image-menu {
    padding: 2rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 2rem;
    background: white;
}

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    aspect-ratio: 3/ 2;
    object-fit: cover;
    grid-column: span 3;
    grid-row: span 2;
}

/* tags */

.tag-bank {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.edit-tag {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.tag,
.create-tag {
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: fit-content;
}

.create-tag:hover {
    background-color: lightgray;
}

.create-tag:active {
    background-color: gray;
}